In the last session, we had a look at the String data type which could be used to store character values. Now let's try building an application which records a customer's detail and assign it a unique user id number generated randomly.

In [ ]:
#We would ask the user for his name and mobile number
name= input("What's your name ")
number= input("What's your number ")

What's your name A
What's your number 98

In [ ]:
from random import seed
from random import randint

# generate a three digit random integers for user id
value = randint(100, 999)
print(value)

682

In [ ]:
#Now if I want to store these values together I can create a list data type
name= input("What's your name ")
number= input("What's your number ")
value = randint(100, 999)
#Creating a list

Hmm, that works. But what if I would like to add some security and make user id un-changeable or as we call it in programming - immutable, in that case, we'll use a tuple. 

So in this session, we are going to learn more about another new word or a data type actually which is called "Tuple"

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequence of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis
- Tuples are immutable. Meance we can't change Tuple object

In [30]:
# tuple methods count(), index()
t = (1,5,77,41,55,100,77,99,94,77)
x = t.count(77)
print(x)
y = t.index(77)
print(y)

3
2

In [ ]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [ ]:
type(t)

tuple

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [ ]:
sample_tuple = 1,2,3,4

print(sample_tuple)

(1, 2, 3, 4)

#### Single value tuple

In [ ]:
sample_tuple = 1,  
print(sample_tuple)

(1,)

In [ ]:
sample_tuple = (1,)  
print(sample_tuple)

In [ ]:
sample_tuple1 = 1   # This is not a tuple

In [ ]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [1]:
t = ("Mumbai", 84, "Python",)

In [2]:
# gives the element at index location 1
t[1]

84

In [3]:
# gives the last element from tuple
t[-1]

'Python'

In [4]:
t[0][-1]

'i'

### Slicing

In [4]:
# Slicing first 3 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[0:3]

('Seattle', 84, 'Python')

In [5]:
# Slicing last 2 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[-2:]

(2, 1)

In [6]:
# no. of elements in tuple t
t = ("Seattle", 84, "Python", 5, 2, 1)
len(t)

6

#### Cancatenating tuples

In [1]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

In [2]:
# join() example
tupEx = ("My", "Name", "is", "Jahanvi")
string = "Jeel is my daughter."
newJoin1 = '#'.join(tupEx)
newJoin2 = '#'.join(string)
print(newJoin1)
print(newJoin2)

My#Name#is#Jahanvi
J#e#e#l# #i#s# #m#y# #d#a#u#g#h#t#e#r#.

In [3]:
# join() example
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

#### sum() - min() - max()

In [7]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [8]:
t = (2, 4, 3, 5, 7)
min(t)

2

In [9]:
t = (2, 4, 3, 5, 7)
max(t)

7

### Immutability of tuples

In [1]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [3]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

### Sorting a tuple

In [5]:
t = (2,3,6,4,8,5)

sorted(t)

[2, 3, 4, 5, 6, 8]

In [7]:
x = sorted(t)

tuple(x)

(2, 3, 4, 5, 6, 8)

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

In [6]:
# we can't change tuple object because it's immutable but if tuple object contains list element so we can change or update that list element in tuple
t1 = ("Raja", "Rani", ("Maya", "Kaya"), ["Jahanvi","Jeel"])
print(t1)
t1[3][0] = "Lishit"
print(t1)

('Raja', 'Rani', ('Maya', 'Kaya'), ['Jahanvi', 'Jeel'])
('Raja', 'Rani', ('Maya', 'Kaya'), ['Lishit', 'Jeel'])

### Packing and Unpacking In Tuples

In [9]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

1

#### dir() - to view the attributes or methods of an object

In [11]:
t = ()
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets
- List is mutable. Meance we can change list object

In [28]:
#List methods ( append(),clear(),copy(),count(),index(),extend(),insert(),pop(),remove(),reverse(),sort()  )
LIST1 = [1,55,77,101,80,99,14,68,55,144,55]
LIST2 = ['Jeel','Lishit','Jahanvi','Sumit','Kajal','Kiran','Nitin','Mihir']
LIST3 = ['Kaya','Chhaya',55,40,'Yovraj',44]
LIST1.append([1000, 999])
print(LIST1)
LIST3.clear()
print(LIST3)
LIST_NEW = LIST2.copy()
print(LIST_NEW)
x = LIST1.count(55)
print(x)
y = LIST2.index('Kajal')
print(y)
LIST1.extend([1000,999])
print(LIST1)
LIST2.insert(0,'Nano Lishit')
print(LIST2)
print(LIST2.pop())
print(LIST2)
LIST1.remove(77)
print(LIST1)
z = LIST1.reverse()
print(z)
print(LIST1)
w = LIST2.sort()
print(w)
print(LIST2)

[1, 55, 77, 101, 80, 99, 14, 68, 55, 144, 55, [1000, 999]]
[]
['Jeel', 'Lishit', 'Jahanvi', 'Sumit', 'Kajal', 'Kiran', 'Nitin', 'Mihir']
3
4
[1, 55, 77, 101, 80, 99, 14, 68, 55, 144, 55, [1000, 999], 1000, 999]
['Nano Lishit', 'Jeel', 'Lishit', 'Jahanvi', 'Sumit', 'Kajal', 'Kiran', 'Nitin', 'Mihir']
Mihir
['Nano Lishit', 'Jeel', 'Lishit', 'Jahanvi', 'Sumit', 'Kajal', 'Kiran', 'Nitin']
[1, 55, 101, 80, 99, 14, 68, 55, 144, 55, [1000, 999], 1000, 999]
None
[999, 1000, [1000, 999], 55, 144, 55, 68, 14, 99, 80, 101, 55, 1]
None
['Jahanvi', 'Jeel', 'Kajal', 'Kiran', 'Lishit', 'Nano Lishit', 'Nitin', 'Sumit']

In [18]:
# count() method is different in string and list
# count() in list takes only one argument but count() in string takes two or three arguments
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [13]:
L = ["USA", 23, 6, "New York"]

L

['USA', 23, 6, 'New York']

In [15]:
# Nested List
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [17]:
# Indexing
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [19]:
L[-3]

'Biology'

In [21]:
L[-1][-1]

'Pearson'

In [23]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [25]:
#Membership in Lists

L1 = [1,2,3,4]
print(1 in L1)  # True
print (8 not in L1)  # True

True
True

In [27]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [11]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [12]:
#It's gives an error because we change tuple object from list L
L[3][0] = 'Manus'
L

TypeError: 'tuple' object does not support item assignment

In [ ]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [ ]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [ ]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [32]:
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L["Chemistry"]
L

TypeError: list indices must be integers or slices, not str

In [ ]:
del L[0:2]

L

[('Oreily', 'Pearson')]

In [7]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

print(L.pop())

L

('Oreily', 'Pearson')

['Chemistry', 'Biology', [1989, 2004]]

In [5]:
# remove()
# if you want to delete multiple element from list use 'del' but if you want to delete single element use 'remove'.

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")
L.remove(L[1])
L

['Biology', ('Oreily', 'Pearson')]

In [13]:
# how to enter specific element at specific position

L = [1,2,3,8,10,55,11]
L[1] = 22
print(L)
L.insert(1,100)
print(L)

[1, 22, 3, 8, 10, 55, 11]
[1, 100, 22, 3, 8, 10, 55, 11]

In [14]:
L.sort()
L

[1, 3, 8, 10, 11, 22, 55, 100]

In [14]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [ ]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

#### Shadow Copying

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [ ]:
A

['Apple', 'Strawberry', 'Mango']

In [ ]:
B

['Apple', 'Strawberry', 'Mango']

In [1]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]    #Note 'A[:]' is used to call all the values stored in A
#Now B has all the values of A but isn't a shadow copy of A
#Shadow copy is basically assigning multiple labels to a single reference point or memory location

A[0] = "Apple"

In [3]:
A

['Apple', 'Strawberry', 'Mango']

In [ ]:
B

['Orange', 'Strawberry', 'Mango']

Now that we know how to store multiple items together let us build another app that could store userid of our customers, which were randomly generated.

We have the following requirements from the app -
1. It shouldn't store duplicate values in the data-set
2. Since the userid are randomly generated the order doesn't matter
3. We need mutability i.e. if we want to delete a particular value we should be able to do so
4. We might frequently want to check whether a user-id is part of the existing data set so it should be able to perform this operation fast

For this use case, we could either use a unique function and maintain our list, but that would be comparatively time-consuming, so let's look at another data type provided by Python, which would be the best fit here.

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets do not allow duplicates

In [ ]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [ ]:
len(set_l)

5

In [23]:
a = {1, 2, 3, 4, 5}

a.add("Australia")

a

{1, 2, 3, 4, 5, 'Australia'}

In [24]:
a = {1, 2, 3, 4, 5}

a.add("Australia","India")

a
# At this time we can use update() method i.e. a.update("Australia","India") 
# with the use of update we can add multiple item at a time in set

TypeError: set.add() takes exactly one argument (2 given)

In [15]:
a = {1, 2, 3, 4, 5, "Australia"}
a.remove("Australia")
a

{1, 2, 3, 4, 5}

In [16]:
# del is not supported in set because set not maintain insersion order of element. del is only supported in list and dictionary.
A1 = {1, 2, 3, 4, 5, "Australia","India","Pakistan"}
del A1[0:3]

TypeError: 'set' object does not support item deletion

In [ ]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [ ]:
print(A | B) # Union
print (A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [ ]:
print(A & B) # Intersection
print(A.intersection(B))

{2, 4}
{2, 4}

In [ ]:
print(A - B) # Difference
print(A.difference(B))  # only A elements

{0, 8, 6}
{0, 8, 6}

In [ ]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

In [20]:
H = set("Hacker")
R = set("Rank")
H.add(R)
print(H)

TypeError: unhashable type: 'set'

In [26]:
# .update() or |=    method
H = set("Hacker")
R = set("Rank")
H.update(R)
print(H)

{'e', 'c', 'n', 'r', 'k', 'a', 'H', 'R'}

In [29]:
# .intersection_update() or &= method
H = set("Hacker")
R = set("Rank")
H.intersection_update(R)
print (H)

{'a', 'k'}

In [30]:
# .difference_update() or -= method
H = set("Hacker")
R = set("Rank")
H.difference_update(R)
print(H)

{'e', 'c', 'r', 'H'}

In [31]:
# .symmetric_difference_update() or ^= method
H = set("Hacker")
R = set("Rank")
H.symmetric_difference_update(R)
print(H)

{'e', 'c', 'n', 'r', 'H', 'R'}

In this session, we are going to talk about dictionaries. In Python, we use dictionaries to store key-value pairs.
Here is an example -
Let's take the example of a customer as seen earlier.
Now a customer could have multiple attributes such as 
1. Name
2. Email
3. Userid
4. Address 
5. Phone number

Now each of these attributes would be our key and corresponding we'll have values against each on them

With a dictionary, we can store a bunch of key-value pairs, let us now see have a look at the 'Dictionary' data type in Python

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, it's is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [ ]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["USA"]

'USD'

In [ ]:
# Replace the value for a key in a dictionary

d["USA"] = "$"

d

{'France': 'Euros', 'India': 'INR', 'USA': '$'}

In [ ]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'France': 'Euros', 'India': 'INR', 'Japan': 'Yen', 'USA': '$'}

In [ ]:
# Deleting a key value pair

del d["France"]

d

{'India': 'INR', 'Japan': 'Yen', 'USA': '$'}

In [ ]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [ ]:
# values() Method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

d.values()

dict_values(['INR', 'USD', 'Euros'])

In [ ]:
# Keys() Method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [ ]:
# Update() Method

d.update({'USA':'$'})
d

{'France': 'Euros', 'India': 'INR', 'USA': '$'}

In [32]:
l = [1,2,3,4]
sum(l)

10

In [31]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

for sublist in nested_list:
    for element in sublist:
        print(element)

1
2
3
4
5
6
7
8
9

In [47]:
L = [1,1,55,1,84,66,75]
LL = [[1,5],[2,5],[8,9],[7,4]]
a = 5
for i in range(0,len(LL)):
    for sublist in LL:
        for element in sublist:
            if element == a:
                LL.remove(sublist)
print(LL)

[[8, 9], [7, 4]]

In [48]:

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for sublist in list_of_lists:
    for element in sublist:
        print(element)

1
2
3
4
5
6
7
8
9

In [36]:
if __name__ == '__main__':
    List = list()
    for i in range(int(input())):
        name = input()
        score = float(input())
        List.append([name,score])
        
    New_List = sorted(List, key = lambda x : x[1])
    a = New_List[0][1]
    
    for sublist in New_List:
        if sublist[1]== a:
            New_List.remove(sublist)

    print(New_List)
    b = New_List[0][1]
    ans = list()
    
    for sub in New_List:
        if sub[1] == b:
            ans.append(sub[0])
            
    ans.sort()
    for i in ans:
        print(i)

 5
 Harsh
 20
 Beria
 20
 Varun
 19
 Kakunami
 19
 Vikas
 211

[['Kakunami', 19.0], ['Harsh', 20.0], ['Beria', 20.0], ['Vikas', 211.0]]
Kakunami