# Operator:
- operators are used to perform operations on variables and values
- operators are special symbols that carry out logical or arithmatic computation
- the value that the operator operates on is called the operand
- 2+3=5, here 2 and 3 are values/variables or operand ,5 is output and + is addition operator

# Operators in Python:
1. Arithmatic
2. Assignment
3. Comparision
4. Logical
5. Identity
6. Membership
7. Bitwise

In [ ]:
# arithmatic

x = 10
y = 5
print(x+y) # 15
print(x-y)  # 5
print(x*y)  # 50
print(x/y) # 2
print(x%y) # 0

15
5
50
2.0
0

In [ ]:
string = "Hello"
string[0]='h'
print(string)

TypeError: 'str' object does not support item assignment

In [ ]:
2 ** 3 ** 2

512

In [ ]:
# exponent: leftoperand raise to the power of right
# x**y
# 10**5

print(x**y)

100000

In [ ]:
print(2**3)

8

In [ ]:
# floor division: division that results into whole number adjusted to the left in the number line
# x//y

print(x//y)

2

In [ ]:
print(3//2)
print(3/2)

1
1.5

In [ ]:
# comparision operator: These are used to compare values. it returns true/false according to the condition
# ==,!=,>,<,>=,<=

print(x)
print(y)
print("x > y",x > y)
print("x < y",x < y)
print("x >= y",x >= y)
print("x <= y",x <= y)
print("x != y",x != y)
print("x == y",x == y)

10
5
x > y True
x < y False
x >= y True
x <= y False
x != y True
x == y False

In [ ]:
# logical operators
# and,or,not

x = True
y = False
print(x and y)  # and - true if both operands are true
print(x or y)   # or - true if either one of the operands is true
print(not x)
print(not y)  # not - true if operand is false,

False
True
False
True

In [ ]:
a = 10
b =7
print(a and b)  # if first value is true then output it depends on second value

7

In [ ]:
a1 = 4
b1=17
print(a1 and b1)

17

In [ ]:
a2 = 0
b2=3
print(a2 and b2)

0

In [ ]:
a3 = 5
b3=0
print(a3 and b3)

0

In [ ]:
# 0 means false, except 0 all the values are true
a4 = -1   # true value
b4 = -2  # true
print(a4 and b4)

-2

In [ ]:
a5 = -1   # true value
b5 = 0  # false
print(a5 and b5)

0

In [ ]:
# OR: if first value is true it will not focus on second value
# AND: if first value is true, still it will check second value
# That means AND focus on second value and OR focus on first value

a6 =5
b6 = 3
print(a6 or b6)

5

In [ ]:
a7 = 7
b7 = -1
print(a7 or b7)

7

In [ ]:
a8 = 0
b8 = 1
print(a8 or b8)

1

In [ ]:
# not

a9 = True
print("not a9 is: ", not a9)

not a9 is:  False

In [ ]:
print(not(5<3 and 5<33))

True

In [ ]:
print(not(5>3 and 5<33))

False

In [ ]:
# bitwise operator: act on operands as if they were strings of binary digits, operates bit by bit
x = 10  # 1010 is binary for 10
y =4   #0100 is binary for 4

In [ ]:
# & -> bitwise AND
# 1010 & 0100 =  0000
print(x & y)

0

In [ ]:
# | -> bitwise OR
# 1010 | 0100 = 1110  ->14
print(x|y)

14

In [ ]:
# ~ -> bitwise NOT
# ~1010 = ~0101 -> 1010 + 1 -> 11 (add the minus sign) -> -11
print(x)
print(~x)

10
-11

In [ ]:
print(y)
print(~y)

4
-5

In [ ]:
# biwise XOR using ^  - returns 1 only if bits are different
# 1010 ^ 0100 = 1110 =14
print(x^y)

14

In [ ]:
# bitwise right shift using >>
# 00001010 -> 00000010 =2

print(x>>2)

2

In [ ]:
#00000100 -> 00000001 =1
print(y>>2)

1

In [ ]:
# bitwise leftshift using <<
# 00001010 -> 00101000 =40
print(x<<2)

40

In [ ]:
#00000100  -> 00010000 =16
print(y<<2)

16

#Assignment oprator
- To assign value to the variables
- a = 5
- assign the value of right to left variable

In [ ]:
a = 5

In [ ]:
print(a)

5

In [ ]:
a += 5
print(a)
# a += 5 is same as a = a+5

10

In [ ]:
a -= 5
print(a)

5

In [ ]:
a *= 5
print(a)
a /= 5
print(a)

25
5.0

In [ ]:
a %= 5
print(a)

0.0

In [ ]:
x = 5
x &= 5
print(x)
# &: perform bitwise and operation on int values.
# and: perform logical and operators in boolean expresion

5

In [ ]:
x |= 5
print(x)

5

In [ ]:
x != 5
print(x)

5

In [ ]:
a = 6
b = 5
print(a == b)

False

# Notes:
- '==' use for comparision
- '=' use for assigement

# Special operators
1. Identity operators : it compair the memory location for two variables or values
  - is: return TRUE if operand are identical
  - is not: return TRUE if operand are not identical
2. Membership operators: They are use to test value or variable is find in a sequence
  - in: return TRUE if value and variable are in sequence
  - not in: return TRUE if value and variable are not in sequence

In [ ]:
x = 5
y = 5
print(x is y)

True

In [ ]:
s1 = 'Python'
s2 = 'Python'
print(s1 is s2)

True

In [ ]:
s3 = 'Java'
print(s2 is not s3)
print(s2 is s3)

True
False

In [ ]:
L1 = [1,2,3]
L2 = [1,2,3]
print(L1 is L2)
print(id(L1))
print(id(L2))

False
136834988610624
136835008800448

In [ ]:
print(L1 == L2)

True

In [ ]:
T1 = (1,2,3)
T2 = (1,2,3)
print(id(T1))
print(id(T2))
print(T1 is T2)
print(T1 == T2)

136834986568064
136834986384512
False
True

In [ ]:
str1 = 'Hello, wolrd'
print('h' in str1)

False

In [ ]:
print('w' in str1)

True

In [ ]:
print('rd' in str1)

True

In [ ]:
print('L' not in str1 )

True

In [ ]:
dic1 = {1:'a',2:'b'}
print(1 in dic1)
print('a' in dic1) # we can't check value without key

True
False