# Tuple:
- Tuple is an ordered and un-changleable (immutable)
- Tuple declared by ()
- contains homogenous / hetrogeneous
- can perform indexing / slicing

In [ ]:
a = tuple()
print(a)
print(type(a))

()
<class 'tuple'>

In [ ]:
t =()
print(t)
print(type(t))

()
<class 'tuple'>

In [ ]:
t1 = (1)
print(t1)
print(type(t1))

1
<class 'int'>

In [ ]:
t2 = ('Python')
print(t2)
print(type(t2))

Python
<class 'str'>

In [ ]:
t3 = (1,)
print(t3)
print(type(t3))

(1,)
<class 'tuple'>

In [ ]:
t4 = (1,2, 'string', [5,6,7])
print(t4)
print(type(t4))

(1, 2, 'string', [5, 6, 7])
<class 'tuple'>

In [ ]:
len(t4)

4

In [ ]:
t4.append()

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t4[0]  # indexing in tuple

1

In [ ]:
l = list(t4)
print(l)

[1, 2, 'string', [5, 6, 7]]

In [ ]:
t5 = 1,2,3
print(t5)
print(type(t5))

(1, 2, 3)
<class 'tuple'>

In [ ]:
t6 = 'AA','BB','CC'
print(t6)
print(type(t6))

('AA', 'BB', 'CC')
<class 'tuple'>

In [ ]:
t7 = 'python',
print(t7)
print(type(t7))

('python',)
<class 'tuple'>

In [ ]:
t8 = ('a','b','c','d','j','z','x','y')
print(t8)
print(t8[1:5]) #slicing in tuple
print(type(t8))

('a', 'b', 'c', 'd', 'j', 'z', 'x', 'y')
('b', 'c', 'd', 'j')
<class 'tuple'>

In [ ]:
# how to sort tuple
t = ('f','j','y','K','O','L','a')
t1 = sorted(t)
print("Sorted list t1: ",t1)
print("Sorted tuple: ",tuple(t1))

Sorted list t1:  ['K', 'L', 'O', 'a', 'f', 'j', 'y']
Sorted tuple:  ('K', 'L', 'O', 'a', 'f', 'j', 'y')

# Set:
- set is unorder collection.
- It is iterable.
- It is mutable.
- It has no duplicate elements.

In [ ]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [ ]:
s_new = {}
print(s_new)
print(type(s_new))

{}
<class 'dict'>

In [ ]:
s1 = {1,2,3,[6,7,8],'Python'}
print(s1)
print(type(s1))

TypeError: unhashable type: 'list'

In [ ]:
s50 = {1,2,3,'Python',(6,7,8)}
print(s50)
print(type(s50))

{1, 2, 3, 'Python', (6, 7, 8)}
<class 'set'>

In [ ]:
s51 = {1,2,3,'Python',{(6,7,8)}}
print(s51)
print(type(s51))

TypeError: unhashable type: 'set'

In [ ]:
s52 = {1,2,3,{1:'a',2:'b'}}
print(s52)
print(type(s52))

TypeError: unhashable type: 'dict'

# Notes:
-  In Python programming, a Hashable object is something which is having a hash value. Hashable objects are immutable and cannot be modified after initialization. Similarly, unhashable objects do not have hash values such as list, dict, set

In [ ]:
li = [1,3,4,{"maya","kaya"}]
print(li)
print(type(li))

[1, 3, 4, {'kaya', 'maya'}]
<class 'list'>

In [ ]:
lis = [1,3,4,{1:"Maya",2:"kaya"}]
print(lis)
print(type(lis))

[1, 3, 4, {1: 'Maya', 2: 'kaya'}]
<class 'list'>

In [ ]:
ls = [1,2,3,(1,4,5)]
print(ls)
print(type(ls))

[1, 2, 3, (1, 4, 5)]
<class 'list'>

In [ ]:
s1 = {1,2,3,'Python'}
print(s1)
print(type(s1))

{1, 2, 3, 'Python'}
<class 'set'>

In [ ]:
# sets in python can only contain hashable(immutable) but list is mutable.
s1 = {1,2,3,'Python',[6,7,8]}
print(s1)
print(type(s1))

TypeError: unhashable type: 'list'

In [ ]:
s1 = {1,2,3,'Python',(6,7,8)}
print(s1)
print(type(s1))

{1, 2, 3, 'Python', (6, 7, 8)}
<class 'set'>

In [ ]:
s_new = {1,2,3,'Python',(6,7,8),{1:'a',2:'b'}}
print(s_new)
print(type(s_new))

TypeError: unhashable type: 'dict'

# Note:
- In Python, "unhashable" refers to objects that cannot be used as keys in dictionaries or members of sets.
- It means we can't add List, set and dictionary object into set, If we add these object into set it will give error.

In [ ]:
# (6,7,8) is tuple and it's a immutable.
s1 = {1,2,3,(6,7,8),'Python'}
print(s1)
print(type(s1))

{1, 2, 3, 'Python', (6, 7, 8)}
<class 'set'>

In [ ]:
s2 = {1,2,3,2,5,1}
print(s2)
print(type(s2))

{1, 2, 3, 5}
<class 'set'>

In [ ]:
s2.add(50)

In [ ]:
print(s2)

{1, 2, 3, 5, 50}

In [ ]:
languages = {'Python', 'Java', 'C++','c','R'}
print(languages)

{'Java', 'Python', 'c', 'R', 'C++'}

- List pop() method remove last element and return it
- Set pop() method remove first element and return it

In [ ]:
RL = languages.pop()
print(RL)

Java

In [ ]:
print(languages)

{'Python', 'c', 'R', 'C++'}

In [ ]:
rl1 = languages.discard('R')
print(rl1)
print(languages)

None
{'Python', 'c', 'C++'}

In [ ]:
print(languages)

{'c', 'Java', 'Python'}

In [ ]:
set1 = {'intel','coep','TCS'}

In [ ]:
L1 = ['Python','Machine Learning','Deep Learning']

In [ ]:
set1.update(L1)

In [ ]:
print(set1)

{'Deep Learning', 'Machine Learning', 'coep', 'Python', 'TCS', 'intel'}

In [ ]:
s = {1,2,3,4,5}
print(s)
s.remove(4)  # If element is not present it will give error
print(s)
s.discard(5)  # If element is not present it will not give any error
print(s)
s.pop()
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
{1, 2, 3}
{2, 3}
set()

In [ ]:
s1 = {1,2,3,4,5,6,18}
print(s1)
del s1
print(s1)

{1, 2, 3, 4, 5, 6, 18}

NameError: name 's1' is not defined

# What is the difference between set remove() and discard() method
- If specific element is not present, remove() method will give error
- If specific element in not present, discard() method will not give any error

# What is the difference between set del and clear() method
- clear() method remove all the element in the set and return empty set
- del, completly remove specific set, i.e. After performing del operation on set and try to print original set, it will give error, means set is not define

# Set operation

In [ ]:
A = {1,3,7,5}
B = {0,2,3,4,5,6}

In [ ]:
# Union operation

print("Union using |: ",A|B)

Union using |:  {0, 1, 2, 3, 4, 5, 6, 7}

In [ ]:
print("Union using union function: ", A.union(B))

Union using union function:  {0, 1, 2, 3, 4, 5, 6, 7}

In [ ]:
print(A)

{1, 3, 5, 7}

In [ ]:
# Intersection

print("Intersection using &: ",A&B)

Intersection using &:  {3, 5}

In [ ]:
print("Intersection using intersection function: ", A.intersection(B))

Intersection using intersection function:  {3, 5}

In [ ]:
# Difference

print(A)
print(B)
print("Difference using -: ", A-B)
print("Difference using -: ", B-A)

{1, 3, 5, 7}
{0, 2, 3, 4, 5, 6}
Difference using -:  {1, 7}
Difference using -:  {0, 2, 4, 6}

In [ ]:
print("Difference using difference function: ", A.difference(B))

Difference using difference function:  {1, 7}

In [ ]:
# Symmetric Difference

print("Symmetric difference using ^: ",A^B)

Symmetric difference using ^:  {0, 1, 2, 4, 6, 7}

In [ ]:
print("Symmetric difference using ^: ",B^A)

Symmetric difference using ^:  {0, 1, 2, 4, 6, 7}

In [ ]:
print("Symmetric difference using symmetric_difference function: ", A.symmetric_difference(B))

Symmetric difference using symmetric_difference function:  {0, 1, 2, 4, 6, 7}

# Note:
- Indexing and slicing is not possible in set because set is unordered data structure

# Dictionary:
- Before Dictionary is unorder, After 3.7 version dictionary is order.
- Each item of dictionary is key-value pair.
- Optimise to retrive when key is known.
- Values and key in dictionary are any datatype
- Value can be duplicated, when keys can not be repeated and must be immutable.
- Dictionary is order and mutable.

In [ ]:
d1 = {1:'Python',2:'Java',3:'C++', 'chhaya':'R', 'Kavita':[1,2,3], (4,9):'Surat'}
print(d1)
print(type(d1))
d1['Shital']=(1,2,3)
print(d1)

{1: 'Python', 2: 'Java', 3: 'C++', 'chhaya': 'R', 'Kavita': [1, 2, 3], (4, 9): 'Surat'}
<class 'dict'>
{1: 'Python', 2: 'Java', 3: 'C++', 'chhaya': 'R', 'Kavita': [1, 2, 3], (4, 9): 'Surat', 'Shital': (1, 2, 3)}

In [ ]:
D = dict()
print(D)
print(type(D))

{}
<class 'dict'>

In [ ]:
D1 = {1:'Python',3:'C++',2:'Java'}
print(D1)
print(type(D1))

{1: 'Python', 3: 'C++', 2: 'Java'}
<class 'dict'>

In [ ]:
print(D1[2])

Java

In [ ]:
D1[4]='R'
print(D1)

{1: 'Python', 3: 'C++', 2: 'Java', 4: 'R'}

In [ ]:
# Delete operation
# Here 3 is key
del D1[3]

In [ ]:
print(D1)

{1: 'Python', 2: 'Java', 4: 'R'}

In [ ]:
print(D1.get(1))

Python

In [ ]:
my_dict = {"name": "Alice", "age": 30}

name = my_dict.get("name")  # Returns "Alice"
city = my_dict.get("city")  # Returns None
city_default = my_dict.get("city", "Unknown")  # Returns "Unknown"

print(name)
print(city)
print(city_default)

Alice
None
Unknown

In [ ]:
D1[1]='Java Script'

In [ ]:
print(D1)

{1: 'Java Script', 2: 'Java', 4: 'R'}

In [ ]:
D1.pop()
print(D1)

TypeError: pop expected at least 1 argument, got 0

In [ ]:
# In set pop() we doesn't pass any argument but in dict pop() we have to give 1 argument.
D1.pop(1)
print(D1)

{2: 'Java', 4: 'R'}

In [ ]:
# In popitem() Remove and return last inserted key value pair
D1.popitem()
print(D1)

{2: 'Java'}

In [ ]:
d = {1:'Python',2:'Java',3:'C++',4:'R',5:'HTML'}
print(d)
d.pop(1)
print(d)
print(d.pop(2))
print(d)
print(d.popitem())
print(d)
print(d.pop(10))

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'R', 5: 'HTML'}
{2: 'Java', 3: 'C++', 4: 'R', 5: 'HTML'}
Java
{3: 'C++', 4: 'R', 5: 'HTML'}
(5, 'HTML')
{3: 'C++', 4: 'R'}

KeyError: 10

In [ ]:
D1.clear() # Remove all the items
print(D1)

{}

In [ ]:
D2 = {1:100, 2:200, 3:300}
print(D2)

{1: 100, 2: 200, 3: 300}

In [ ]:
D3 = {4:400, 5:500, 6:600}
print(D3)

{4: 400, 5: 500, 6: 600}

In [ ]:
print(D2.keys())

dict_keys([1, 2, 3])

In [ ]:
print(D2.values())

dict_values([100, 200, 300])

In [ ]:
print(D2.values)

<built-in method values of dict object at 0x78ae2d4c9a00>

In [ ]:
print(D2.items()) # Return list of element

dict_items([(1, 100), (2, 200), (3, 300)])

In [ ]:
A = D2.items()
print(A)
print(type(A))

dict_items([(1, 100), (2, 200), (3, 300)])
<class 'dict_items'>

In [ ]:
print(type(A))

<class 'dict_items'>

In [ ]:
# Merge dictionary

D2.update(D3)

In [ ]:
print(D2)

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 6: 600}

In [ ]:
Z = {} # This give a dict not set.
print(Z)
print(type(Z))

{}
<class 'dict'>

In [ ]:
# How to add element in dictionary
D = {1:100, 2:200, 3:300, 4:400, 5:500}
print(D)
D[9]=900   # First method
print(D)
D.update({6:600, 7:700})  # Second method
print(D)
D.update([(8,800),(10,1000)])  # Third method
print(D)

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}
{1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 9: 900}
{1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 9: 900, 6: 600, 7: 700}
{1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 9: 900, 6: 600, 7: 700, 8: 800, 10: 1000}

In [ ]:
# add element using | but it will return new dict
my_dict = {"a": 1, "b": 2}
new_dict = my_dict | {"c": 3, "d": 4}
print(new_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
my_dict = {"a": 1, "b": 2}
new_dict = dict(my_dict, c=3, d=4)
print(new_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Notes:

- Dictionaries in Python are not directly indexable or sliceable using numerical indices like lists or strings. They are accessed using their keys.

# Extra For learning

In [1]:
A = {'Amee':25.59,'Sonal':75.91,'Jeel':25.59,'Bansi':45.02,'Komal':55.09}
n_d  = {key:value for key,value in sorted(A.keys())}
print(n_d)

ValueError: too many values to unpack (expected 2)

In [ ]:
# How to perform sorting in dictionary
D = {'Amee':25.59,'Sonal':75.91,'Jeel':25.59,'Bansi':45.02,'Komal':55.09}

# Dictionary sort by key
new_dict = {key:value for key,value in sorted(D.items())}
print(new_dict)

# Dictionary sort by value
new_dict1 = {key:value for key,value in sorted(D.items(),key=lambda x:x[1])}
print(new_dict1)

# How to get first key of dictionary
print(list(D.keys())[0]) ## First way
print(list(D)[0]) ## Second way
First_key = next(iter(D))
print(First_key) ## Third way

# How to get first value of dictionary
print(list(D.values())[0]) ## First way
First_value = next(iter(D.values()))
print(First_value) ## Second way

{'Amee': 25.59, 'Bansi': 45.02, 'Jeel': 25.59, 'Komal': 55.09, 'Sonal': 75.91}
{'Amee': 25.59, 'Jeel': 25.59, 'Bansi': 45.02, 'Komal': 55.09, 'Sonal': 75.91}
Amee
Amee
Amee
25.59
25.59

In [2]:
DD = {'Amee':25.59,'Sonal':75.91,'Jeel':25.59,'Bansi':45.02,'Komal':55.09}
print(list(DD))
print(list(DD)[0])

['Amee', 'Sonal', 'Jeel', 'Bansi', 'Komal']
Amee

In [ ]:
# How you get average marks of specific person with two or three decimal place
DDD = {"MAYA":[1,5,89],"KAVITA":[56,45,68],"RIMA":[89,56,79]}

# Now we find average marks of kavita with two decimal place
query_name = "KAVITA"
print(f"{sum(DDD[query_name])/3:.2f}")

56.33

# Notes:

## STRING:
  - order: not applicable,
  - immutable'
  - String is iterable
  - How to create string: not applicable,
  - indexing and slicing is possible
  - How to add element: Not possible
  - How to delete element: Not possible
  - Type of element: Not applicable
  - pop(): Not applicable

## LIST:  
  - ordered,
  - mutable(unhashable)
  - List is iterable
  - how to create:[], list(),
  - indexing and slicing is possible,
  - How to add element: append(), extend(), insert()
  - How to delete element: del a[index], a.remove(element), clear(), using list comprehension
  - Duplicate element: Not applicable
  - Type of element: Homogeneous, Heterogeneous
  - pop(): list pop() method remove last element of list and return it.

## TUPLE:
  - ordered,
  - immutable
  - Tuple is iterable
  - How to create: (), tuple(),
  - indexing and slicing is possible
  - How to add element: Not possible
  - How to delete element: Not possible
  - Duplicate element: Not applicable
  - Type of element: Homogeneous, Heterogeneous

## SET:
  - Unordered,
  - mutable(unhashable)
  - How to create: set()
  - Indexing and slicing: Not possible(Because set is unordered data structure)
  - How to add element: add(element), update(iterable_object)
  - How to delete element: discard(element), remove(element), clear(), del
  - Duplicate Element: No duplicate element
  - Type of element: Homogeneous, Heterogeneous
  - pop(): set pop() method remove first element of set and return it.

## DICTIONARY:(Key-Value)
  - Ordered,
  - mutable(unhashable)
  - How to create: dict(), {}
  - Indexing and slicing: Not Possible
  - How to add element: D[key]=value, update()
  - How to delete element: del d[key]
  - Duplicate element: duplicate key is not possible but value may or may not be duplicate.
  - Type of element: any datatype can be added in place of key and value, but key should be unique
  - pop(): pop() without argument not possible in dictionary, we have to give at least one argument in pop(). that means pop(key) will return value and if specific key is not present it will give error. Also popitem() is one of the method in dictionary who remove last element from dictionary. And return last element of dictionary, i.e last key-value
  - get(): get(key) is only use in dictionary for retriving value. If specific key is not present it will give None