# Print function:
- print the message to the screen or any other output device
- print(value,sep,end,file,flush)
- By default sep(seprator) is ' '
- By default end in '\n'
- By default file is system.stdout
- By default flush is boolean(false). flush is optional

In [ ]:
day = 18
mm = 'June'
yy = 2025
#18-'June'-2025
# 18/June/2025
print(day,mm,yy)

18 June 2025

In [ ]:
print(day,mm,yy,sep='/')

18/June/2025

In [ ]:
print(day,mm,yy,sep='-')

18-June-2025

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1,11):
  print(i,end=',')

1,2,3,4,5,6,7,8,9,10,

# Input method
- input function allow user to give input
- input(prompt)
- string default messaage before input

In [ ]:
a = input()
print(a)

10
10

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
x = input('Enter MIS')
print(x)
print(type(x))

Enter MIS2022
2022
<class 'str'>

In [ ]:
no = int(input('Enter a number: '))
print(no)
print(type(no))

Enter a number: 45
45
<class 'int'>

In [ ]:
Marks = float(input('Enter marks: '))
print(Marks)
print(type(Marks))

Enter marks: 58.48
58.48
<class 'float'>