# Function:
- Function is subset of program. It is a sub-program
- Function is a group or block of statement that togather perform single, specific and well define task.
- It is writen only once and resued whenever required, as many time as required.
- The function will carry out intended action whenever it is called or invoked.

# Modularity:
- Break big problem into smaller once

# Resued:
- Build using what others have already built.

# Abstrection:
- we know its operation but we don't know its implementation.

# Three type of function:
1. Built in function or Predefine function:(print,input, count, len)
2. User define function:
   - This function are defined by the user at the time of writing the program according to requirement
3. Anonymous Function:
   - This function are also called lambda function because they are not declared with standard def keyword.
4. Recursion function:
   - The function called itself in its body.

# User define function:
- To define python function we use the def keyword before it's name to be followed by paranthesis, before a colon

- Systex:
   - def function name():
   -     body of a function
   -     return(expression)

In [ ]:
# Function define
def Addition():
  num1 = int(input("Enter a number 1: "))
  num2 = int(input("Enter a number 2: "))
  print(num1+num2)

In [ ]:
# Function called
Addition()

Enter a number 1: 5
Enter a number 2: 3
8

In [ ]:
# We can't call function directly before define
sum()
def sum():
  num1 = int(input("Enter a number 1: "))
  num2 = int(input("Enter a number 2: "))
  print(num1+num2)

TypeError: sum() takes at least 1 positional argument (0 given)

In [ ]:
# First we have to define the function than after we call it
def sum():
  num1 = int(input("Enter a number 1: "))
  num2 = int(input("Enter a number 2: "))
  print(num1+num2)
sum()

Enter a number 1: 5
Enter a number 2: 5
10

# Function
- Two type of arguments
1. Formal parameter
2. Actual parameter

In [ ]:
no1 = int(input("Enter any number: "))
no2 = int(input("Enter any number: "))
def sum(no1,no2):     # Formal Parameter
  print(no1+no2)
sum(no1,no2)          # Actual Parameter

Enter any number: 2
Enter any number: 5
7

In [ ]:
no1 = int(input("Enter any number: "))
no2 = int(input("Enter any number: "))
def sum(no1,no2):
  print(no1+no2)
sum(9,10)   # Function call always take actual parameter

Enter any number: 5
Enter any number: 2
19

# Function with default arguments:
- A function have assign to it's parameter if no argement is provided when calling the function. It takes the default value.

In [ ]:
def sum(no1=0,no2=0):
  print(no1+no2)
sum()

0

In [ ]:
def sum(no1=5,no2=0):
  print(no1+no2)
sum()

5

In [ ]:
def sum(no1,no2=0):
  print(no1+no2)
sum()

TypeError: sum() missing 1 required positional argument: 'no1'

In [ ]:
def sum(no1,no2=0):
  print(no1+no2)
sum(10)

10

In [ ]:
def sum(no1,no2=5):
  print(no1+no2)
sum(10,6)

16

In [ ]:
def sum(no1=7,no2):
  print(no1+no2)
sum(10,6)

SyntaxError: non-default argument follows default argument (ipython-input-9-2180811588.py, line 1)

In [ ]:
def sum(no1=7,no2,no3=2):
  print(no1+no2)
sum(10,6)

SyntaxError: non-default argument follows default argument (ipython-input-10-222346440.py, line 1)

In [ ]:
def sum(no1,no2,no3=2):
  print(no1+no2)
sum(10,6)

16

In [ ]:
def sum(no1,no2,no3=2):
  print(no1+no2+no3)
sum(10,6)

18

In [ ]:
def sum(no1,no2,no3):
  print(no1+no2+no3)
sum(10,6)

TypeError: sum() missing 1 required positional argument: 'no3'

# Variable length and argument function

In [ ]:
def fun(args):
  for i in args:
    print(i)

fun("Java","C++","Python","C")

TypeError: fun() takes 1 positional argument but 4 were given

In [ ]:
def fun(args):
  for i in args:
    print(i)

fun("Java")

J
a
v
a

In [ ]:
def fun(*args):
  for i in args:
    print(i)

fun("Java","C++","Python","C")

Java
C++
Python
C

In [ ]:
# Use of **: keyword argument

# Local variable and Global variable

In [ ]:
def fun1():
  a = 10   # Local scope: can't access outside the function
  print(a)
fun1()
print(a)

10

NameError: name 'a' is not defined

In [ ]:
a = 9  # Global Variable
def fun1():
  a = 10   # Local Variable
  print(a)
fun1()
print(a)

10
9

In [ ]:
a = 9  # Global Variable:Publically available
def fun1():

  print(a)
fun1()
print(a)

9
9

In [ ]:
a = 9
def fun1():
  a = a+1
  print(a)

fun1()
print(a)

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [ ]:
a = 9
def fun1():
  global a
  a = a+1
  print(a)

fun1()
print(a)

10
10

# return statement:
- Every function return something.
- If the return statement is without any expression so null is return.

In [ ]:
def add(a,b):
  return a+b

add(5,2)

7

In [ ]:
def add(a,b):
  return a+b

result = add(5,2)
print(result)

7

In [ ]:
def add(a,b):
  return a+b

def is_true(a):
  return bool(a)

result = add(5,2)
print(is_true(result))
print(result)

True
7

In [ ]:
def add(a,b):
  return a
  return b

result = add(5,2)
print(result)

5

In [ ]:
def add(a,b):
  return a, b


result = add(5,2)
print(result)

(5, 2)

In [ ]:
print(type(result))

<class 'tuple'>

# Anonymous Function:
- lembda is a small anom function because they are not used like other user defined functions or built in function.
- lembda is not define with def keyword
- Every anonymous is divide into 3 essential parts:
  1. lambda keyword
  2. parameters
  3. Function wording
- lambda function can have any number of parameter. But function body cantain only one expression

In [ ]:
# Syntex: lambda parameter: function wording

p = lambda a,b : a+b
print(p(10,20))

30

# Why?
- start, quick
- it's a sort function, it contains only one expression
- concise
- unnamed / anom

In [ ]:
list1 = [1,2,3,4]
squares = list(map(lambda x: x**2, list1))
print(squares)

[1, 4, 9, 16]

- We can use lembda for maping, filtering, sortion

# Recursion function:
- Recursion function is a function define in terms of itself, via self referential expression.
- OR
- A recursive function is a function that calls itself. Function call is written the same function body.

In [ ]:
def fun(n):
  if n == 0:
    return
  else:
    print(n)
    fun(n-1)

fun(5)

5
4
3
2
1

In [ ]:
def fun(n):
  if n == 0:
    return
  else:
    fun(n-1)
    print(n)

fun(5)

1
2
3
4
5