


- If we write in a colab notbook or jupyter notbook, the the default file name is filename.ipynb
- Any other IDE(pycharm,vscode,anaconda)then we save file with filename.extension
- ipynb = intrective python notbook- only python programs uses cells which execute independently

In [ ]:
print("python")

python

- keyword = reserved words, they are case sensitive

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- among all the kewwords only 'False', 'None' and 'True' starts with first capital latter

In [ ]:
l = keyword.kwlist
print(len(l))

35

- Variable = Name given to memory location.

In [ ]:
a = 100

In [ ]:
a

100

- we don't actually asingn a value to a variable, instead python gives reference of the object to the variable.

In [ ]:
a = 30
#1a is not valid

- ID and Type:
Identity of an object(int)

In [ ]:
a = 100
b = 13.5
c = 100

In [ ]:
print(a)
print(id(a))
print(type(a))

100
10754024
<class 'int'>

In [ ]:
print(b)
print(id(b))
print(type(b))

13.5
135577244933968
<class 'float'>

In [ ]:
print(c)
print(id(c))
print(type(c))

100
10754024
<class 'int'>

In [ ]:
a1 = 5000
a2 = 5000
print(id(a1))
print(id(a2))

136286046955728
136286046953104

In [ ]:
t = 100
s = 'coep'
marks = 92.5

In [ ]:
print(t)
print(s)
print(marks)

100
coep
92.5

In [ ]:
print(type(t))
print(type(s))
print(type(marks))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
b = 100

In [ ]:
print(id(b))

10754024

In [ ]:
print(id(t))

10754024

In [ ]:
print(id(s))
print(id(marks))

137471303913456
137471303540272

- Python is an type inferred language, dynamic, not defined variable at the time of declaration

#Interpreter will not execute this code

In [ ]:
#assigning multiple values to multiple variable
a,b,c = 5,3.2,"Python"
print(a,b,c)

5 3.2 Python

In [ ]:
# same value to multiple variable at once
a = b = c = 10
print(a,b,c)

10 10 10

In [ ]:
#swap two number with operator/3rd variable
a = 100
b = 200
print("Before swap a, b ",a , b)
no = b
b = a
a = no
print("After swap a, b ",a ,b)

Before swap a, b  100 200
After swap a, b  200 100

In [ ]:
#2nd way for swap two number
a = 100
b = 200
a , b = b, a
print(a,b)

200 100

In [ ]:
c = 500
d = 500
print(id(c))
print(id(d))

137470103659024
137470103652752

In [ ]:
t = [1,2,3]
t1 = [1,2,3]
print(id(t))
print(id(t1))

137470104395136
137470104389568

# Memory management in Python/c/c++/java
-Two types of data type
1. Immutable : Number, String, Tuple
2. mutable : List, set, dictionary
- Number -> int, float, complex
- Immutable Data type: id()-same memory location
      - That means two different variables with same value in immutable type will give same memory location
- Mutable Data Type: id()-different memory location
      - That means two different variable with same value in mutable type will give different memory location

In [ ]:


a=5
b=5
print(a)
print(b)
print(type(a))
print(type(b))
print(id(a))
print(id(b))

print("****This is for list******")
l=[1,2,3]
l1=[1,2,3]
print(type(l))
print(type(l1))
print(id(l))
print(id(l1))

print("****This is for tuple******")
T=(1,2,3)
T1=(1,2,3)
print(type(T))
print(type(T1))
print(id(T))
print(id(T1))

5
5
<class 'int'>
<class 'int'>
10750984
10750984
****This is for list******
<class 'list'>
<class 'list'>
138248961712832
138249119767104
****This is for tuple******
<class 'tuple'>
<class 'tuple'>
138248961716288
138248961716736

### Numbers are three types
1. Integer(Whole number)
2. Float(Decimal)
3. Complex(Imaginary)

In [ ]:
a = 100
b = -200

In [ ]:
print(a)
print(b)

100
-200

In [ ]:
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [ ]:
print(id(a))
print(id(b))

10754024
135141826617488

In [ ]:
p = 926751336595

In [ ]:
print(p)

926751336595

In [ ]:
print(type(p))

<class 'int'>

In [ ]:
per = 10.25

In [ ]:
print(type(per))

<class 'float'>

In [ ]:
a = 2+3i
print(a)

SyntaxError: invalid decimal literal (<ipython-input-12-e05fb6e8b8dd>, line 1)

In [ ]:
b = 3+4j
print(b)

(3+4j)

In [ ]:
print(type(b))

<class 'complex'>

In [ ]:
c = 4 - 5j
print(c)
print(type(c))

(4-5j)
<class 'complex'>

In [ ]:
d = 6 + 5k
print(d)
print(type(d))

SyntaxError: invalid decimal literal (<ipython-input-16-693efada0b61>, line 1)

# Notes:
- For complex number, only j is valid
-like 2+3j, 7-7j, 8+3j

### Type Conversion / Type Casting

In [ ]:
t = 34
print(type(t))

<class 'int'>

In [ ]:
c = complex(t)
print(c)

(34+0j)

In [ ]:
f = float(t)
print(f)

34.0

In [ ]:
print(int(2))

2

In [ ]:
print(type(100))

<class 'int'>

In [ ]:
print(type(100+30j))

<class 'complex'>

In [ ]:
c = complex(10,20)
print(c)
print(type(c))

(10+20j)
<class 'complex'>

# List : Mutable, iterable, slicing, indexing, Hashable


*   declare using square bracket[]
*  For type  conversion we use list function


*   List contains homogeneous and hetrogeneous data
*   We can iterate with forward and backward direction

In [ ]:
list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [ ]:
print(type(list1))

<class 'list'>

In [ ]:
subjects = ["Python","Data Visulization", "ML","AI"]
print(type(subjects))

<class 'list'>

In [ ]:
list2 = [10, 32.5, "Python", True]
print(list2)
print(type(list2))

[10, 32.5, 'Python', True]
<class 'list'>

In [ ]:
list3 = list([3,7,9])
print(list3)
print(type(list3))

[3, 7, 9]
<class 'list'>

In [ ]:
list4 = list(3,7,9)
print(list4)
print(type(list4))

TypeError: list expected at most 1 argument, got 3

In [ ]:
list5 = list(4)
print(list5)
print(type(list5))

TypeError: 'int' object is not iterable

In [ ]:
list6 = list((1,2,3))
print(list6)
print(type(list6))

[1, 2, 3]
<class 'list'>

In [ ]:
l = list()
print(type(l))
print(l)

<class 'list'>
[]

In [ ]:
L = []
print(L)
print(type(L))

[]
<class 'list'>

# Indexing - To retrive single value from list data
Types
1. Forward Indexing
2. Reverse Indexing

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(l[0])

1

In [ ]:
print(l[3])

4

In [ ]:
print(l[-10])

1

In [ ]:
print(l[-9])

2

In [ ]:
print(l[-1])

10

- List is mutable data type so we can perform insert, update, dalete operation

In [ ]:
l = [1,2,3,5]
print(l)
print(type(l))

[1, 2, 3, 5]
<class 'list'>

In [ ]:
l.append(100)
print(l)

[1, 2, 3, 5, 100]

In [1]:
l1 = [1000,2000]
l1.append("Maya")
print(l1)

[1000, 2000, 'Maya']

In [ ]:
# In list append() method, whatever value we pass in method it will became one single object
l_new = [1,2,3,5]
l_new.append([100,200])
l_new.append([100])
l_new.append(100)
print(l_new)

[1, 2, 3, 5, [100, 200], [100], 100]

In [ ]:
l.append(7,8)
print(l)

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
l.append([7,8])
print(l)

[1, 2, 3, 5, 100, [7, 8]]

In [ ]:
del l[-1]
print(l)

[1, 2, 3, 5, 100]

In [ ]:
l.insert(500)
print(l)

TypeError: insert expected 2 arguments, got 1

In [ ]:
l.insert(2,500)
print(l)

[1, 2, 500, 3, 5, 100]

In [ ]:
l.insert(-1,600)
print(l)

[1, 2, 500, 3, 5, 600, 100]

In [ ]:
l_next = [1,5,99,100]
l_next.insert(0,l_next)
print(l_next)

[[...], 1, 5, 99, 100]

In [ ]:
l_next2 = [1,5,99,51,12]
l_next2.insert(-1,[5,6])
print(l_next2)

[1, 5, 99, 51, [5, 6], 12]

In [ ]:
l[5] = 'Python'  # Use for replace
print(l)

[1, 2, 500, 3, 5, 'Python', 100]

In [ ]:
l.extend(1000) # 1000 is not iterable but if we write [1000] then it's list, and list is iterable so it's work
print(l)

TypeError: 'int' object is not iterable

# Note:
- What is differnce between Append() and extend() method
  - In append() and extend() both use in list for add element but the main difference is that, the object that we pass in extend() should be iterable
      - Ex: l.append(100) # VALID
      - Ex: l.extend(100) # NOT VALID
      - above example of extend, 100 is not iterable but if pass [100] so it become list and it's iterable. i.e.: l.extend([100])
  - In append() and extend(), both the case we have to pass only one argument.

In [ ]:
l.extend('Java') # it should be iterable, here 'Java' is iterable
print(l)

[1, 2, 500, 3, 5, 'Python', 100, 'J', 'a', 'v', 'a']

In [ ]:
#Interview question
# what is difference between extend, append and insert
# what is difference between list and tuple

In [ ]:
l.extend([-1,-2,-3])
print(l)

[1, 2, 500, 3, 5, 'Python', 100, 'J', 'a', 'v', 'a', -1, -2, -3]

In [ ]:
l.extend(1,2,6)
print(l)

TypeError: list.extend() takes exactly one argument (3 given)

In [ ]:
l.pop()

-3

In [ ]:
print(l)

[1, 2, 500, 3, 5, 'Python', 100, 'J', 'a', 'v', 'a', -1, -2]

In [ ]:
l.reverse()
print(l)

[-2, -1, 'a', 'v', 'a', 'J', 100, 'Python', 5, 3, 500, 2, 1]

In [ ]:
l.sort()
print(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
l1 = [-100,-55,56,3,100,500,-7]
l1.sort() # How to sort accending order
print(l1)

[-100, -55, -7, 3, 56, 100, 500]

In [ ]:
l1.sort(reverse=True) #How to sort reverse of order
print(l1)

[500, 100, 56, 3, -7, -55, -100]

In [ ]:
l1.remove(-7)
print(l1)

[500, 100, 56, 3, -55, -100]

In [2]:
x1 = [1,2,2,4,5,4,6,4,7,8,9,4,5,2,4]
print(x1.count(4))
x1.replace(4,100)
print(x1)

5

AttributeError: 'list' object has no attribute 'replace'

In [ ]:
x = [1,5,3,14,56,99,52,100,200,199,55,51,52,42]
print(x)
x.remove(3)   # Here 3 is element in x
print(x)
x.pop()
print(x)
del x[3]      # Here 3 is index in X
print(x)
del x[1:4]
print(x)
del x  # Entire object is deleted
print(x)

[1, 5, 3, 14, 56, 99, 52, 100, 200, 199, 55, 51, 52, 42]
[1, 5, 14, 56, 99, 52, 100, 200, 199, 55, 51, 52, 42]
[1, 5, 14, 56, 99, 52, 100, 200, 199, 55, 51, 52]
[1, 5, 14, 99, 52, 100, 200, 199, 55, 51, 52]
[1, 52, 100, 200, 199, 55, 51, 52]

NameError: name 'x' is not defined

In [ ]:
x1 = [1,6,77,34,65]
print(x1)
x1.clear()
print(x1)

[1, 6, 77, 34, 65]
[]

In [ ]:
# How to remove element from list using list comprehension
my_list = [1, 2, 3, 4, 5]
new_list = [x for x in my_list if x != 3]  # Removes all occurrences of '3'
print(new_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [ ]:
l1.extend([1000])
print(l1)

[500, 100, 56, 3, -55, -100, 1000]

In [ ]:
L = [1,2,3,44,45,67,78,98,99]
print(L.pop())
print(L)
print(L.pop(2))
print(L)

99
[1, 2, 3, 44, 45, 67, 78, 98]
3
[1, 2, 44, 45, 67, 78, 98]

# Extra for practice

## Difference between sort() and sorted()

### sort():
- Method of lists: It is a method that is called directly on a list object.
- In-place modification: It modifies the original list directly and does not return a new list. The original list is changed after the method is called.
- Returns None: Because it modifies the list in-place, it returns None.
- Limited to lists: sort() can only be used with list objects.
- Memory efficient: It is more memory-efficient since it does not create a new list.


### sorted():
- Built-in function: It is a built-in Python function that can be used with any iterable (e.g., lists, tuples, strings, dictionaries).
- Returns a new sorted list: It returns a new sorted list, leaving the original iterable unchanged.
- Preserves original: The original iterable remains unmodified.
- More versatile: Can be used with different types of iterables, not just lists.
- Less memory efficient: It requires more memory since it creates a new list.

In [ ]:
L =[55,99,42,12,56,23,20]
print(L.sort())
# If you want to print list in reverse order : (L.sort(reverse=True))
print(L)

None
[12, 20, 23, 42, 55, 56, 99]

In [ ]:
L1 = [45,12,48,32,20,9,10,19]
L2= sorted(L1)
print(L1)
print(L2)

[45, 12, 48, 32, 20, 9, 10, 19]
[9, 10, 12, 19, 20, 32, 45, 48]

## Difference between clear() and del statement

### clear() Method:
- Removes all elements from a list, making it an empty list.
- The list object remains in memory, but its contents are erased.
- Modifies the original list in place.
- It does not return any value.
- It is equivalent to del list[:].

### del Statement:
- Can delete specific elements or slices from a list using indexing.
- Can also delete the entire list object from memory.
- If used with slicing del list[:], it empties the list, similar to clear().
- When deleting the entire list, it removes the reference to the list object, and it will no longer be accessible.